<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Doctor's Profile</h4>
                        <p class="card-category">Cancer Specialist</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="javascript:void(0)">
                                        <img class="img" src="./assets/img/faces/snita-w.jpg"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">Cancer Surgeon /Gynaec Oncologist </h6>
                                    <h4 class="card-title">Dr. Snita Sinukumar</h4>
                                    <p class="card-description">
                                        dr. Snita Sinukumar is the First lady Cancer Surgeon in Pune, who has obtained a
                                        Superspeciality. She specializes in the treatment of all aspects of women’s
                                        cancer especially ovarian cancer and HIPEC. She is one of the best Surgical and
                                        Gynaec Oncologist in Pune, Mch Degree In Surgical Oncology From Tata Memorial
                                        Hospital .
                                    </p>
                                    <a href="https://www.motherhoodindia.com/doctor/dr-snita-sinukumar/" target="_blank" class="btn btn-danger btn-round">Follow</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card card-profile">
                                    <div class="card-avatar">
                                        <a href="javascript:void(0)">
                                            <img class="img" src="./assets/img/faces/dr-amol-dumbre.jpg"/>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-gray">Best Onco Surgeon in Pune – </h6>
                                        <h4 class="card-title">Dr. Amol Dumbre</h4>
                                        <p class="card-description">
                                            Dr. Amol Dumbre is one of the renowned health professionals in the field of
                                            surgical oncology with the expertise of more than a decade in the field of
                                            surgical oncology. He has gained specialized structured surgical oncology
                                            training. Also, performed all the major cancer operative actions like cancer
                                            surgeries such as head and neck cancer surgeries, breast cancer surgery,
                                            etc. Dr.Dumbre has done Oncosurgery training from Tata Memorial Centre
                                            Mumbai.
                                        </p>
                                        <a href="https://www.bestoncosurgeon.com/" target="_blank" class="btn btn-danger btn-round">Follow</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card card-profile">
                                    <div class="card-avatar">
                                        <a href="javascript:void(0)">
                                            <img class="img" src="./assets/img/faces/Renu_Aagerkhedkar.jpg"/>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-gray">Pediatric Ophthalmology and
                                            Strabismology </h6>
                                        <h4 class="card-title">Dr. AGARKHEDKAR RENU NIKHIL</h4>
                                        <p class="card-description">
                                            MBBS D.N.B, Fellow- Pediatric Ophthalmology and Strabismology, ICO Fellow -
                                            Neuro-Ophthalmology(USA),
                                            Speciality:OPHTHALMOLOGY, PAEDIATRIC SMALL STEPS
                                            Consultant type:Honorary Consultant
                                            Gender:Female
                                        </p>
                                        <a href="https://www.dmhospital.org/doctor-details/RENU-AGARKHEDKAR" target="_blank" class="btn btn-danger btn-round">Follow</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <a href="javascript:void(0)">
                                                <img class="img" src="./assets/img/faces/dr-mahesh-pawar.jpeg"/>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-category text-gray">surgical oncologists in Pune.</h6>
                                            <h4 class="card-title">Dr. Mahesh Pawar</h4>
                                            <p class="card-description">
                                                Dr. Mahesh Pawar has completed MBBS, DNB & FCPS from some of the
                                                prestigious medical colleges and hospitals. He has been trained
                                                extensively in surgery and surgical oncology at KEM Hospital, Pune and
                                                Tata Memorial Center, Mumbai.
                                            </p>
                                            <a href="https://www.carecancerclinic.com/" target="_blank" class="btn btn-danger btn-round">Follow</a>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="card card-profile">
                                            <div class="card-avatar">
                                                <a href="javascript:void(0)">
                                                    <img class="img" src="./assets/img/faces/Dr-Gajanan_555x635.png"/>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-category text-gray">Surgical Oncologist</h6>
                                                <h4 class="card-title">Dr. Gajanan Kanitkar</h4>
                                                <p class="card-description">
                                                    Dr Gajanan Kanitkar is a leading Cancer Specialist & Cancer Surgeon
                                                    trained from Tata Memorial Hospital, Mumbai with over 20 years
                                                    experience in the field of Cancer Treatment.He specializes in
                                                    minimal invasive surgery [Laparoscopic/ Keyhole surgery] for Cancer.
                                                </p>
                                                <a href="http://www.gajanankanitkar.com/" target="_blank" class="btn btn-danger btn-round">Follow</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>