<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">My Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="javascript:void(0)">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"><b>Simran Tamboli</b></h3>
                                    <h5 class="card-category text-gray"><b>MCA Final Year Student</b></h5>
                                    <h4 class="text-warning">About Me: </h4>
                                    <p class="card-description text-warning">
                                        <b>I am a MCA(Master of Computer Application) Final Year Student Studying in
                                            Tialk Maharashtra Vidyapeeth Pune. My hobbies include swimming and drawing,
                                             I am always curious about learning new things and inspiring people around me.</b>
                                    </p>
                                    <hr>
                                    <h4 class="text-info">About Carezone: </h4>
                                    <p class="card-description text-info">
                                        <b>My main motive to create<b> Carezone website </b>is to spread awrareness about Cancer and Cancer causing health issues in our environment.
                                        through Carezone website we can motivate people by giving them examples of cancer survivor's and help them to come out of their situation.
                                        It will not only Motivate people but aware them about the health issues causing by Cancer.</b>
                                    </p>
                                    <hr>
                                    <h4 class="text-success">Our Vision: </h4>
                                    <p class="card-description text-success">
                                        <b>Our Vision is to Spread Positivity around the World through Carezone Cancer website by providing world wide Cancer issues information and giving people a positive impact about Cancer issues.</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
