img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card-stats .card-body {
    text-align: left;
}

.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
    text-align: left;
}