<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Symptoms</h3>
              <p class="card-category">Be first to Takecare of Yourself</p>
          </div>
          <div class="card-body">
              <mat-accordion>
                  <mat-expansion-panel hideToggle >
                      <mat-expansion-panel-header >
                          <mat-panel-title >
                             Breast Cancer
                          </mat-panel-title >

                      </mat-expansion-panel-header>
                      <p>1.) New lump in the breast or underarm (armpit).</p>
                      <p>2.) Thickening or swelling of part of the breast.</p>
                      <p>3.) Irritation or dimpling of breast skin.</p>
                      <p>4.) Redness or flaky skin in the nipple area or the breast.</p>
                      <p>5.) Pulling in of the nipple or pain in the nipple area.</p>
                      <p>6.) Nipple discharge other than breast milk, including blood.</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                      <mat-expansion-panel-header  >
                          <mat-panel-title >
                             Lung Cancer
                          </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>1.) a cough that doesn't go away after 2 or 3 weeks.</p>
                      <p>2.) a long-standing cough that gets worse.</p>
                      <p>3.) chest infections that keep coming back.</p>
                      <p>4.) coughing up blood.</p>
                      <p>5.) an ache or pain when breathing or coughing.</p>
                      <p>6.) persistent breathlessness.</p>
                      <p>7.) persistent tiredness or lack of energy.</p>

                  </mat-expansion-panel>
              </mat-accordion>

              <mat-accordion>
                  <mat-expansion-panel hideToggle >
                      <mat-expansion-panel-header >
                          <mat-panel-title>
                              Stomach Cancer
                          </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>1.) Indigestion or heartburn.</p>
                      <p>2.) Pain or discomfort in the abdomen.</p>
                      <p>3.) Nausea and vomiting, particularly vomiting up solid food shortly after eating.</p>
                      <p>4.) Diarrhea or constipation.</p>
                      <p>5.) Bloating of the stomach after meals.</p>
                      <p>6.) Loss of appetite.</p>
                      <p>7.) Sensation of food getting stuck in the throat while eating.</p>

                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                      <mat-expansion-panel-header  >
                          <mat-panel-title >
                              Pancreatic Cancer
                          </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>1.) Abdominal pain that radiates to your back.</p>
                      <p>2.) Loss of appetite or unintended weight loss.</p>
                      <p>3.) Yellowing of your skin and the whites of your eyes (jaundice)</p>
                      <p>4.) Light-colored stools.</p>
                     <p>5.)  Dark-colored urine.</p>
                      <p>6.) Itchy skin.</p>
                      <p>7.) New diagnosis of diabetes or existing diabetes that's becoming more difficult to control.</p>
                      <p>8.) Blood clots.</p>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                      <mat-expansion-panel-header  >
                          <mat-panel-title >
                              Liver Cancer
                          </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>1.) your skin or the whites of your eyes turn yellow (jaundice), you may also have itchy skin, darker pee and paler poo than usual.</p>
                      <p>2.) loss of appetite or losing weight without trying to.</p>
                      <p>3.) feeling tired or having no energy.</p>
                      <p>4.) feeling generally unwell or having symptoms like flu.</p>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                      <mat-expansion-panel-header  >
                          <mat-panel-title >
                             Mouth Cancer
                          </mat-panel-title>

                      </mat-expansion-panel-header>
                     <p>1.)  A lip or mouth sore that doesn't heal.</p>
                     <p>2.)  A white or reddish patch on the inside of your mouth.</p>
                      <p>3.) Loose teeth.</p>
                      <p>4.) A growth or lump inside your mouth.</p>
                      <p>5.) Mouth pain.</p>
                      <p>6.) Ear pain.</p>
                      <p>7.) Difficult or painful swallowing.</p>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                      <mat-expansion-panel-header  >
                          <mat-panel-title >
                              Ovarian Cancer
                          </mat-panel-title>

                      </mat-expansion-panel-header>
                      <p>1.) Abdominal bloating or swelling.</p>
                      <p>2.) Quickly feeling full when eating</p>
                      <p>3.) Weight loss.</p>
                      <p>4.) Discomfort in the pelvis area</p>
                      <p>5.) Changes in bowel habits, such as constipation.</p>
                      <p>6.) A frequent need to urinate.</p>
                  </mat-expansion-panel>
              </mat-accordion>
</div >
      </div>
  </div>
</div>

